@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parastoo:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  from { transform: translateX(100%); }
  to   { transform: translateX(0);   }
}
.animate-slide-left { animation: slide-left 0.3s ease-out; }
